<%- include('partials/header.ejs') %>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <a href="/">ICON</a>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <a href="/explore">Explore</a> <br><br>
    <a href="/profile">Profile</a> <br><br>
    <form class="" action="/home" method="POST">
      <input type="text" name="textContent" value="" placeholder="What's happening?"> <button class="btn btn-primary"
        type="submit" name="button">Post</button>
    </form>


    <!-- for eeach javascript to render allposts in the following way, setting p as the name of the function  -->
    <% posts.forEach(function(p){ %>
      <div class="postDiv my-3">
        <h4>
          <button class="btn btn-outline-info mx-2">
            <a href="<%= p.id %>">
              <%= p.textContent %>
                <!-- this is the content of the post variable we set in models/post.js -->
            </a>
          </button>
          
          <!-- Send a delet method as a post request then overide with delete inside of it with ?_method=DELETE -->
          <form action="<%= p.id %>?_method=DELETE" method="POST">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <button class="dropdown-item text-danger" type="submit" name="button">Delete</button>
              </ul>
            </div>
          </form>
        </h4>


      </div>

    <% }); %>


  </body>
  <%- include('partials/footer') %>