<%- include('partials/header.ejs') %>

    <h4 class=" welcome font-weight-bold mb-4">Welcome to <%= title %>, 
    </h4>
    
    <!-- make post input -->
    <form class="" action="/home" method="POST">
      <div class="input-group d-flex justify-content-center">

        <textarea type="text" name="textContent" value="" placeholder="Your story starts here"
          class="form-control"></textarea>
        <div class="input-group-append">

          <button class="btn btn-dark py-1 px-4" type="submit" name="button">Plant</button>
        </div>
      </div>
    </form>


    <!-- for eeach javascript to render allposts in the following way, setting p as the name of the function  -->
    <% posts.forEach(function(p){ %>
      <div class="postDiv my-3">
        <h4 class="text-left">
          <button class="btn btn-outline-success mx-2 text-left">
            <!-- <img src="<%=imgsrc%>" alt=""> -->
            <a href="<%= p.id %>" class="text-left">
              <%= p.textContent %>
                <!-- this is the content of the post variable we set in models/post.js -->
            </a>
          </button>

          <!-- Send a delete method as a post request then overide with delete inside of it with ?_method=DELETE -->
          <form action="<%= p.id %>?_method=DELETE" method="POST">
            <div class="dropdown bg-dark">
              <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu bg-success" aria-labelledby="dropdownMenuButton1">
                <button class="dropdown-item text-danger" type="submit" name="button">Delete</button>
                <button class="dropdown-item text-dark" type="submit" name="button" formaction="<%= p.id %>">Update</button>
              </ul>
            </div>
          </form>
        </h4>


      </div>

      <% }); %>


  </body>
  <%- include('partials/footer') %>